.form-group {
	margin-bottom: 5px;
}

.logo--small {
	max-width: 195px;
	display: block;
	margin: 0 auto;
}

.btn {
	margin-bottom: 10px;
}

.main-footer{
	margin-left: 40px;
	font-size: 10px;
	color: #d3d3d3;
}

.company-name {
	color: #dd0000;
}